#include "resource.h"
#include <windows.h>

IDI_ENCODING_DIALOG DIALOGEX 0, 0, 300, 60
STYLE WS_VISIBLE | WS_CHILD | WS_CLIPSIBLINGS | DS_3DLOOK | DS_CONTROL
FONT 8, "Segoe UI"
{
    CONTROL "", IDI_ENCODING_COMBOBOX, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 129, 0, 165, 60
}