#include "resource.h"
#include <windows.h>

IDI_ENCODING_DIALOG DIALOGEX 0, 0, 300, 60
STYLE WS_VISIBLE | WS_CHILD | WS_CLIPSIBLINGS | DS_3DLOOK | DS_CONTROL
FONT 8, "Segoe UI"
{
    CONTROL "", IDI_ENCODING_COMBOBOX, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 129, 0, 165, 60
}

IDI_ACCEL ACCELERATORS
{
    0x4E, COMMAND_NEW, VIRTKEY, CONTROL
    0x4E, COMMAND_NEWWINDOW, VIRTKEY, CONTROL, SHIFT
    0x4F, COMMAND_OPEN, VIRTKEY, CONTROL
    0x53, COMMAND_SAVE, VIRTKEY, CONTROL
    0x53, COMMAND_SAVEAS, VIRTKEY, CONTROL, SHIFT
    0x45, COMMAND_BINGSEARCH, VIRTKEY, CONTROL
    0x74, COMMAND_DATETIME, VIRTKEY
    0xBB, COMMAND_ZOOMIN, VIRTKEY, CONTROL
    0xBD, COMMAND_ZOOMOUT, VIRTKEY, CONTROL
    0x30, COMMAND_ZOOMRESET, VIRTKEY, CONTROL
}

IDI_ICON ICON "icon.ico"
