#include "resource.h"
#include <windows.h>

IDI_ENCODING_DIALOG DIALOGEX 0, 0, 300, 60
STYLE WS_VISIBLE | WS_CHILD | WS_CLIPSIBLINGS | DS_3DLOOK | DS_CONTROL
FONT 8, "Segoe UI"
{
    CONTROL "", IDI_ENCODING_COMBOBOX, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 129, 0, 165, 60
}

IDI_ABOUT_DIALOG DIALOGEX 0, 0, 125, 50
STYLE WS_POPUP | WS_SYSMENU | WS_CAPTION | DS_MODALFRAME
CAPTION "Tietoja: Muistio"
{
    LTEXT "Muistio (The Deficient Edition)", IDI_ABOUT_TEXT1, 10, 10, 100, 10
    LTEXT "TS 2021", IDI_ABOUT_TEXT2, 10, 20, 100, 10
    PUSHBUTTON "OK", IDCANCEL, 90, 35, 30, 10
}
